{#
/**
 * @file
 * Template for Project teaser.
 *
 */
#}

<div style="font-size: small;">
    <div style="margin-bottom: 0.5em;"><a href="{{ path('entity.node.canonical', {'node': node.id}) }}">{{ content.field_project_logo }}</a></div>
    <div style="margin-bottom: 0.5em; max-height: 5rem; height: 5rem; overflow: hidden;"><h6>{{ node.title.value }}</h6></div>    
    <div style="margin-top: 0.5em;"><a href="{{ path('entity.node.canonical', {'node': node.id}) }}"><button class="btn btn-outline-info" type="button">Find out more</button></a></div>
</div>
