{#
/**
 * @file
 * Template for Project content type.
 *
 */
#}

<div class="container-fluid">

    <div class="row">
    
        <div class="col-lg-9 project-content">

            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        {{ content.field_project_logo }}
                    </div>

                    <div class="col-lg-10">
                        <h1>{{ node.title.value }}</h1>
                    </div>
                </div>
            </div>

            {{ content.body }}

        </div>

        <div class="col-lg-3 project-sidebar">
        
            <h5 style="background-color: #00b2e2; color: white; border-radius: 0.3em; margin: 0.5em 0; padding: 0.2em 0; text-align: center;">Project Details</h5>

            {{ content.field_project_details }}

            {% if content.field_project_resources|length > 5  %}

            <h5 style="background-color: #00b2e2; color: white; border-radius: 0.3em; margin: 0.5em 0; padding: 0.2em 0; text-align: center;">Project Resources</h5>

            {{ content.field_project_resources }}

	    {% endif %}

        </div>

    </div>

</div>

