{#
/**
 * @file
 * Template for Article teaser.
 *
 */
#}

<div style="font-size: small;">
    <div style="margin-bottom: 0.5em;">{{ content.field_image }}</div>
    <div style="margin-bottom: 0.5em; max-height: 4rem; height: 4rem; overflow: hidden; text-align: left;"><a href="{{ path('entity.node.canonical', {'node': node.id}) }}"><h6>{{ node.title.value }}</h6></a></div>
    <div style="margin-bottom: 0.5em; max-height: 6rem; height: 6rem; overflow: hidden; text-align: left;">{{ content.body }}</div>
    <div style="margin-top: 0.5em;"><a href="{{ path('entity.node.canonical', {'node': node.id}) }}"><button class="btn btn-outline-info" type="button">Read more</button></a></div>
</div>

