{#
/**
 * @file
 * Template for Staff Profile content type.
 *
 */
#}

<div id="page-wrapper">
  <div id="page">

	<div class="container-fluid" style="margin: 2em auto;">
		<div class="row">
			<div class="col-8">
				<h3>{{ node.title.value }}</h3>
			</div>
			<div class="col-4" style="text-align: right;">
				<h5>{{ content.field_role }}</h5>
			</div>
		</div>

		<div class="row">
			<div class="col-2">
				<p>{{ content.field_portrait }}</p>
			</div>

			<div class="col-10">				
				<p>{{ content.body }}</p>
			</div>
		</div>
	</div>   

  </div>
</div>

