{#
/**
 * @file
 * Template for Staff Profile teaser.
 *
 */
#}

<div style="padding-bottom: 0.5em;">

    <div style="width: 100%; background-color: #afeeee;"><img src="{{ portrait_url }}" style="padding: 1em; border-radius: 50%;" /></div>

    <div style="width: 100%; background-color: #f5f5f5;">

        <div style="width: 100%; padding-top: 0.5em; padding-bottom: 0.5em; max-height: 3.5rem; height: 3.5rem; overflow: hidden;">
            <h6>{{ node.title.value }}</h6>
        </div>

        <div style="width: 60%; text-align: left; float: left; padding-left: 0.5em; max-height: 3rem; height: 3rem; overflow: hidden;">    
            <div style="font-size: x-small;">
                {% for key, item in node.field_role if key|first != '#' %}
                {{ item.value }}<br />
                {% endfor %}
            </div>
        </div>

        <div style="width: 40%; text-align: right; float: right; padding-right: 0.5em; max-height: 3rem; height: 3rem; overflow: hidden;">
            <img style="margin: auto 0.2em; height: 1.5rem;" src="/sites/default/files/2019-03/Facebook2.png">
            <img style="margin: auto 0.2em; height: 1.5rem;" src="/sites/default/files/2019-03/Twitter2.png">
        </div>

        <div style="width: 100%; text-align: left; font-size: small; padding: 0.5em; max-height: 13rem; height: 13rem; overflow: hidden;">{{ content.body }}</div>

        <div style="width: 100%; padding-top: 0.5em; padding-bottom: 0.5em;"><a href="{{ path('entity.node.canonical', {'node': node.id}) }}">{{ 'View full profile'|t }}</a></div>

    </div>

</div>
