.ajax-progress{display:inline-block;padding:1px 5px 2px 5px;}[dir="rtl"] .ajax-progress{float:right;}.ajax-progress-throbber .throbber{display:inline;padding:1px 5px 2px;background:transparent url(/core/misc/throbber-active.gif) no-repeat 0 center;}.ajax-progress-throbber .message{display:inline;padding:1px 5px 2px;}tr .ajax-progress-throbber .throbber{margin:0 2px;}.ajax-progress-bar{width:16em;}.ajax-progress-fullscreen{position:fixed;z-index:1000;top:48.5%;left:49%;width:24px;height:24px;padding:4px;opacity:0.9;border-radius:7px;background-color:#232323;background-image:url(/core/misc/loading-small.gif);background-repeat:no-repeat;background-position:center center;}[dir="rtl"] .ajax-progress-fullscreen{right:49%;left:auto;}
.text-align-left{text-align:left;}.text-align-right{text-align:right;}.text-align-center{text-align:center;}.text-align-justify{text-align:justify;}.align-left{float:left;}.align-right{float:right;}.align-center{display:block;margin-right:auto;margin-left:auto;}
.js input.form-autocomplete{background-image:url(/core/misc/throbber-inactive.png);background-repeat:no-repeat;background-position:100% center;}.js[dir="rtl"] input.form-autocomplete{background-position:0% center;}.js input.form-autocomplete.ui-autocomplete-loading{background-image:url(/core/misc/throbber-active.gif);background-position:100% center;}.js[dir="rtl"] input.form-autocomplete.ui-autocomplete-loading{background-position:0% center;}
.fieldgroup{padding:0;border-width:0;}
.container-inline div,.container-inline label{display:inline-block;}.container-inline .details-wrapper{display:block;}
.clearfix:after{display:table;clear:both;content:"";}
.js details:not([open]) .details-wrapper{display:none;}
.hidden{display:none;}.visually-hidden{position:absolute !important;overflow:hidden;clip:rect(1px,1px,1px,1px);width:1px;height:1px;word-wrap:normal;}.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static !important;overflow:visible;clip:auto;width:auto;height:auto;}.invisible{visibility:hidden;}
.item-list__comma-list,.item-list__comma-list li{display:inline;}.item-list__comma-list{margin:0;padding:0;}.item-list__comma-list li:after{content:", ";}.item-list__comma-list li:last-child:after{content:"";}
.js .js-hide{display:none;}.js-show{display:none;}.js .js-show{display:block;}
.nowrap{white-space:nowrap;}
.position-container{position:relative;}
.progress{position:relative;}.progress__track{min-width:100px;max-width:100%;height:16px;margin-top:5px;border:1px solid;background-color:#fff;}.progress__bar{width:3%;min-width:3%;max-width:100%;height:16px;background-color:#000;}.progress__description,.progress__percentage{overflow:hidden;margin-top:0.2em;color:#555;font-size:0.875em;}.progress__description{float:left;}[dir="rtl"] .progress__description{float:right;}.progress__percentage{float:right;}[dir="rtl"] .progress__percentage{float:left;}.progress--small .progress__track{height:7px;}.progress--small .progress__bar{height:7px;background-size:20px 20px;}
.reset-appearance{margin:0;padding:0;border:0 none;background:transparent;line-height:inherit;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.resize-none{resize:none;}.resize-vertical{min-height:2em;resize:vertical;}.resize-horizontal{max-width:100%;resize:horizontal;}.resize-both{max-width:100%;min-height:2em;resize:both;}
table.sticky-header{z-index:500;top:0;margin-top:0;background-color:#fff;}
.system-status-counter__status-icon{display:inline-block;width:25px;height:25px;vertical-align:middle;}.system-status-counter__status-icon:before{display:block;width:100%;height:100%;content:"";background-repeat:no-repeat;background-position:center 2px;background-size:16px;}.system-status-counter__status-icon--error:before{background-image:url(/core/misc/icons/e32700/error.svg);}.system-status-counter__status-icon--warning:before{background-image:url(/core/misc/icons/e29700/warning.svg);}.system-status-counter__status-icon--checked:before{background-image:url(/core/misc/icons/73b355/check.svg);}
.system-status-report-counters__item{width:100%;margin-bottom:0.5em;padding:0.5em 0;text-align:center;white-space:nowrap;background-color:rgba(0,0,0,0.063);}@media screen and (min-width:60em){.system-status-report-counters{display:flex;flex-wrap:wrap;justify-content:space-between;}.system-status-report-counters__item--half-width{width:49%;}.system-status-report-counters__item--third-width{width:33%;}}
.system-status-general-info__item{margin-top:1em;padding:0 1em 1em;border:1px solid #ccc;}.system-status-general-info__item-title{border-bottom:1px solid #ccc;}
body.drag{cursor:move;}tr.region-title{font-weight:bold;}tr.region-message{color:#999;}tr.region-populated{display:none;}tr.add-new .tabledrag-changed{display:none;}.draggable a.tabledrag-handle{float:left;overflow:hidden;height:1.7em;margin-left:-1em;cursor:move;text-decoration:none;}[dir="rtl"] .draggable a.tabledrag-handle{float:right;margin-right:-1em;margin-left:0;}a.tabledrag-handle:hover{text-decoration:none;}a.tabledrag-handle .handle{width:14px;height:14px;margin:-0.4em 0.5em 0;padding:0.42em 0.5em;background:url(/core/misc/icons/787878/move.svg) no-repeat 6px 7px;}a.tabledrag-handle:hover .handle,a.tabledrag-handle:focus .handle{background-image:url(/core/misc/icons/000000/move.svg);}.touchevents .draggable td{padding:0 10px;}.touchevents .draggable .menu-item__link{display:inline-block;padding:10px 0;}.touchevents a.tabledrag-handle{width:40px;height:44px;}.touchevents a.tabledrag-handle .handle{height:21px;background-position:40% 19px;}[dir="rtl"] .touch a.tabledrag-handle .handle{background-position:right 40% top 19px;}.touchevents .draggable.drag a.tabledrag-handle .handle{background-position:50% -32px;}.tabledrag-toggle-weight-wrapper{text-align:right;}[dir="rtl"] .tabledrag-toggle-weight-wrapper{text-align:left;}.indentation{float:left;width:20px;height:1.7em;margin:-0.4em 0.2em -0.4em -0.4em;padding:0.42em 0 0.42em 0.6em;}[dir="rtl"] .indentation{float:right;margin:-0.4em -0.4em -0.4em 0.2em;padding:0.42em 0.6em 0.42em 0;}
.tablesort{display:inline-block;width:16px;height:16px;background-size:100%;}.tablesort--asc{background-image:url(/core/misc/icons/787878/twistie-down.svg);}.tablesort--desc{background-image:url(/core/misc/icons/787878/twistie-up.svg);}
div.tree-child{background:url(/core/misc/tree.png) no-repeat 11px center;}div.tree-child-last{background:url(/core/misc/tree-bottom.png) no-repeat 11px center;}[dir="rtl"] div.tree-child,[dir="rtl"] div.tree-child-last{background-position:-65px center;}div.tree-child-horizontal{background:url(/core/misc/tree.png) no-repeat -11px center;}
.messages.messages--info{color:#31708f;background-color:#d9edf7;background-image:url(/modules/contrib/webform/images/icons/info.svg);background-repeat:no-repeat;background-position:10px 17px;border-color:#0074bd #0074bd #0074bd transparent;box-shadow:-8px 0 0 #0074bd;}[dir="rtl"] .messages.messages--info{border-color:#0074bd transparent #0074bd #0074bd;box-shadow:8px 0 0 #0074bd;margin-left:0;}.webform-message--close .messages{position:relative;}.webform-message--close .messages{padding-right:35px;}.webform-message--close .webform-message__link{display:none;}html.js .webform-message--close .webform-message__link{display:block;position:absolute;top:11px;right:10px;line-height:24px;font-size:24px;}.webform-message__link{color:inherit;opacity:0.33;}.webform-message__link:link{border-bottom:none;text-decoration:none;}.webform-message__link:hover,.webform-message__link:focus,.webform-message__link:active{border-bottom:none;text-decoration:none;color:inherit;opacity:1;}html.js .js-webform-message--close-storage{display:none;}
.form-item .container-inline{margin:2px 0;}.form-checkboxes .form-required:after,.form-radios .form-required:after{display:none;}.webform-element--title-inline > label{display:inline;padding-right:0.5em;}.form-composite.webform-fieldset--title-inline legend{float:left;margin:0.4em 0.5em 0.4em 0;}.form-composite.webform-fieldset--title-inline .fieldset-wrapper,.form-composite.webform-fieldset--title-inline .fieldset-wrapper > div{display:inline;}.webform-element--title-inline .form-radios,.webform-element--title-inline .form-checkboxes{display:inline;}.webform-readonly input[type="date"],.webform-readonly input[type="datetime-local"],.webform-readonly input[type="email"],.webform-readonly input[type="number"],.webform-readonly input[type="password"],.webform-readonly input[type="search"],.webform-readonly input[type="tel"],.webform-readonly input[type="text"],.webform-readonly input[type="time"],.webform-readonly input[type="url"],.webform-readonly textarea{background:#ededed;border-color:#bbb;color:#717171;}
.dropbutton-wrapper,.dropbutton-wrapper div{box-sizing:border-box;}.js .dropbutton-wrapper,.js .dropbutton-widget{position:relative;display:block;}@media screen and (max-width:600px){.js .dropbutton-wrapper{width:100%;}}@media screen and (min-width:600px){.form-actions .dropbutton-wrapper{float:left;}[dir="rtl"] .form-actions .dropbutton-wrapper{float:right;}}.js .form-actions .dropbutton-widget{position:static;}.js td .dropbutton-widget{position:absolute;}.js td .dropbutton-wrapper{min-height:2em;}.js td .dropbutton-multiple{max-width:100%;margin-right:2em;padding-right:10em;}[dir="rtl"].js td .dropbutton-multiple{margin-right:0;margin-left:2em;padding-right:0;padding-left:10em;}.js td .dropbutton-multiple .dropbutton-action a,.js td .dropbutton-multiple .dropbutton-action input,.js td .dropbutton-multiple .dropbutton-action button{width:auto;}.js .dropbutton-widget .dropbutton{overflow:hidden;margin:0;padding:0;list-style-type:none;list-style-image:none;}.js .dropbutton li,.js .dropbutton a{display:block;outline:none;}.js .dropbutton li:hover,.js .dropbutton li:focus,.js .dropbutton a:hover,.js .dropbutton a:focus{outline:initial;}.js .dropbutton-multiple .dropbutton-widget{padding-right:2em;}.js[dir="rtl"] .dropbutton-multiple .dropbutton-widget{padding-right:0;padding-left:2em;}.dropbutton-multiple.open,.dropbutton-multiple.open .dropbutton-widget{max-width:none;}.dropbutton-multiple.open{z-index:100;}.dropbutton-multiple .dropbutton .secondary-action{display:none;}.dropbutton-multiple.open .dropbutton .secondary-action{display:block;}.dropbutton-toggle{position:absolute;top:0;right:0;bottom:0;display:block;width:2em;white-space:nowrap;text-indent:110%;}[dir="rtl"] .dropbutton-toggle{right:auto;left:0;}.dropbutton-toggle button{display:block;width:100%;height:100%;margin:0;padding:0;cursor:pointer;border:0;background:none;}.dropbutton-toggle button:hover,.dropbutton-toggle button:focus{outline:initial;}.dropbutton-arrow{position:absolute;top:50%;right:40%;display:block;overflow:hidden;width:0;height:0;margin-top:-0.1666em;border-width:0.3333em 0.3333em 0;border-style:solid;border-right-color:transparent;border-bottom-color:transparent;border-left-color:transparent;line-height:0;}[dir="rtl"] .dropbutton-arrow{right:auto;left:0.6667em;}.dropbutton-multiple.open .dropbutton-arrow{top:0.6667em;border-top-color:transparent;border-bottom:0.3333em solid;}
.webform-submission-navigation{border-top:1px solid #ccc;border-bottom:1px solid #ccc;margin:0.5em 0;}.webform-submission-pager{margin:0;overflow:auto;padding:0.5em 0;}.webform-submission-pager__item{display:inline-block;list-style-type:none;vertical-align:top;}.webform-submission-pager__item--previous{text-align:left;width:45%;}[dir="rtl"] .webform-submission-pager__item--previous{float:right;text-align:right;}.webform-submission-pager__item--next{float:right;text-align:right;width:45%;}[dir="rtl"] .webform-submission-pager__item--next{float:left;text-align:left;}
.webform-filter-form .form-submit{margin-left:0;margin-right:5px;}.webform-filter-form .form-item{margin-right:5px;}.webform-filter-form .form-item input{max-width:300px;}.webform-filter-form .form-item select{max-width:200px;}@media screen and (max-width:600px){.webform-filter-form .form-item{display:block;margin-right:0;}.webform-filter-form .form-item input,.webform-filter-form .form-item select{max-width:initial;}}
.js .webform-submission-views-dropbutton .dropbutton-wrapper{display:block;position:relative;min-height:2em;}.js .webform-submission-views-dropbutton .dropbutton-widget{position:absolute;}.webform-dropbutton .dropbutton-wrapper{visibility:hidden;min-width:100px;}.webform-dropbutton .dropbutton-wrapper .dropbutton-widget{background-color:transparent;}
.webform-form .action-links{margin-bottom:0;}.webform-submission-information .button{font-size:1em;}.button.button-webform-table-setting{margin:0 0 1em 0;}.button.button-webform-table-setting:before{content:'☷';font-size:1.2em;}.webform-results-table th,.webform-results-table td{max-width:400px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}.webform-results-table td.webform-dropbutton-wrapper{overflow:visible;max-width:inherit;white-space:normal;}th.webform-results-table__icon,td.webform-results-table__icon{padding-left:0;padding-right:0;}.webform-results-table__icon .ajax-progress-throbber{display:none;}.webform-results-table tbody tr{cursor:pointer;cursor:hand;}.webform-results-table td img{max-height:60px;width:auto;}.webform-icon{display:inline-block;height:16px;width:16px;text-align:center;background-color:transparent;background-repeat:no-repeat;background-position:center center;background-size:100% auto;vertical-align:-2px;}.webform-icon-notes--on{background-image:url(/modules/contrib/webform/images/icons/notes-on.svg);}.webform-icon-notes--off{background-image:url(/modules/contrib/webform/images/icons/notes-off.svg);}.webform-icon-notes--link{background-image:url(/modules/contrib/webform/images/icons/notes-link.svg);}a:hover .webform-icon-notes--on,a:focus .webform-icon-notes--on,a:hover .webform-icon-notes--off,a:focus .webform-icon-notes--off{background-image:url(/modules/contrib/webform/images/icons/notes-link.svg);}.webform-icon-sticky{background:transparent url(/modules/contrib/webform/images/icons/sticky.svg) no-repeat left top;display:inline-block;background-size:64px 16px;}.webform-icon-sticky--off:hover,.webform-icon-sticky--off:focus{background-position:-16px top;}.webform-icon-sticky--on{background-position:-32px top;}.webform-icon-sticky--on:focus,.webform-icon-sticky--on:hover{background-position:-48px top;}.webform-icon-sticky--link{background:transparent url(/modules/contrib/webform/images/icons/sticky-link.svg) no-repeat left top;}.webform-icon-locked--on{background-image:url(/modules/contrib/webform/images/icons/locked-on.svg);}.webform-icon-locked--off{background-image:url(/modules/contrib/webform/images/icons/locked-off.svg);}.webform-icon-locked--link{background-image:url(/modules/contrib/webform/images/icons/locked-on-link.svg);}a:hover .webform-icon-locked--on,a:focus .webform-icon-locked--on{background-image:url(/modules/contrib/webform/images/icons/locked-off-link.svg);}a:hover .webform-icon-locked--off,a:focus .webform-icon-locked--off{background-image:url(/modules/contrib/webform/images/icons/locked-on-link.svg);}.webform-submission-table th{width:33%;min-width:100px;}.webform-submission-table td{width:66%;}.webform-horizontal-rule{margin:.5em 0;}.webform-handlers-table .ajax-progress-throbber{display:none;}@media screen and (max-width:1280px){.js-off-canvas-dialog-open .webform-handlers-table th,.js-off-canvas-dialog-open .webform-handlers-table td{display:none;}.js-off-canvas-dialog-open .webform-handlers-table th:first-child,.js-off-canvas-dialog-open .webform-handlers-table th:last-child,.js-off-canvas-dialog-open .webform-handlers-table td:first-child,.js-off-canvas-dialog-open .webform-handlers-table td:last-child{display:table-cell;}}
