/* 
Custom CSS
*/

.bg-primary {
    /* background-color: #0079C0 !important; */
    background-color: white !important;
    color: black !important;
}

.bg-secondary {
    /* background-color: #A8CF45 !important; */
    background-color: #58acd0 !important;
    color: white !important;
}

.site-footer {
    background-color: #58acd0 !important;
    color: white !important;
}

.highlighted .container {
    max-width: 100% !important;
    margin: 0px;
    padding: 0px;
}

.breadcrumb {
    background-color: white !important;
}

.highlighted .block-block-content,
.featured-top .block-block-content,
.block-views-blocklatest-news-block-1 {
    width: 100%;    
}

.sidebar .block {
    border-style: none;
}

.embedded-entity {
    padding: 0.5em;
}

.centered-container {
    text-align: center;
}

.fieldset-legend {
    font-size: 1rem !important;
}

.menu--main li {

    margin-right: 2rem;

    a {
        color: #0079C0 !important;
        font-weight: bold;
    }

}

.dropdown-item.active, .dropdown-item:active {
    background-color: lightgray !important;
}

#navbar-top .container {
    width: auto !important;
    margin-right: 0px !important;
}

#block-dietheader {
    width: 35%;
}

